# FastAPI関連
fastapi==0.104.1
uvicorn[standard]==0.24.0
python-multipart==0.0.6

# データ分析・可視化ライブラリ
pandas==2.1.3
numpy==1.25.2
matplotlib==3.8.0
seaborn==0.13.0
scikit-learn==1.3.2
statsmodels==0.14.0
factor-analyzer==0.4.1
prince==0.7.1
plotly==5.17.0
bokeh==3.3.0
scipy==1.11.4

# 日本語処理
japanize-matplotlib==1.1.3
mecab-python3==1.0.6
unidic-lite==1.0.8
#neologdn==0.5.1
mojimoji==0.0.12
fugashi==1.3.0
chardet==5.2.0

# 因子分析用に追加
factor-analyzer==0.4.1

# データベース関連
psycopg2-binary==2.9.7
sqlalchemy==2.0.23

# ユーティリティ
openpyxl==3.1.2
adjustText==0.8
python-dotenv==1.0.0

alembic==1.11.1  # Alembicを追加